In [2]:
import numpy as np
import pandas as pd
import matplotlib

# Loaded in the CSV file obtained from:
### https://censusindia.gov.in/census.website/data/census-tables

In [3]:
Dt = pd.read_csv(f"DDW-C16-TOWN-STMT-MDDS-2900.csv")

# Primary exploration of the data

To see the features of the data set, the shape of it, the data types etc.

In [4]:
Dt.shape

(15337, 16)

In [5]:
Dt.head(10)

,C-16 POPULATION BY MOTHER TONGUE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table,State,District,Town,Area name,Mother,Mother tongue name,Total,NaN,NaN,Rural,NaN,NaN,Urban,NaN,NaN
2,name,code,code,code,NaN,tongue,NaN,P,M,F,P,M,F,P,M,F
3,NaN,NaN,NaN,NaN,NaN,code,NaN,1,2,3,4,5,6,7,8,9
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,C0116,29,000,000000,KARNATAKA,001000,1 ASSAMESE,6887,4784,2103,0,0,0,6887,4784,2103
6,C0116,29,000,000000,KARNATAKA,001002,Assamese,6753,4725,2028,0,0,0,6753,4725,2028
7,C0116,29,000,000000,KARNATAKA,001999,1 Others,134,59,75,0,0,0,134,59,75
8,C0116,29,000,000000,KARNATAKA,002000,2 BENGALI,66368,39763,26605,0,0,0,66368,39763,26605
9,C0116,29,000,000000,KARNATAKA,002007,Bengali,66297,39711,26586,0,0,0,66297,39711,26586

In [6]:
Dt.columns

Index(['C-16 POPULATION BY MOTHER TONGUE', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [7]:
Dt.index

RangeIndex(start=0, stop=15337, step=1)

In [8]:
Dt.dtypes

C-16 POPULATION BY MOTHER TONGUE    object
Unnamed: 1                          object
Unnamed: 2                          object
Unnamed: 3                          object
Unnamed: 4                          object
Unnamed: 5                          object
Unnamed: 6                          object
Unnamed: 7                          object
Unnamed: 8                          object
Unnamed: 9                          object
Unnamed: 10                         object
Unnamed: 11                         object
Unnamed: 12                         object
Unnamed: 13                         object
Unnamed: 14                         object
Unnamed: 15                         object
dtype: object

# Cleaning up the tables

More appropriate column labels, dropping unnecessary columns, rearranging as seen to be fit.

In [9]:
Dt.columns = ["Table","State","District","Town","Area name","Mother tongue code","Mother tongue name","Total P","Total Male","Total female","3","43","65","656","88","7687"]

In [10]:
Dt

,Table,State,District,Town,Area name,Mother tongue code,Mother tongue name,Total P,Total Male,Total female,3,43,65,656,88,7687
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table,State,District,Town,Area name,Mother,Mother tongue name,Total,NaN,NaN,Rural,NaN,NaN,Urban,NaN,NaN
2,name,code,code,code,NaN,tongue,NaN,P,M,F,P,M,F,P,M,F
3,NaN,NaN,NaN,NaN,NaN,code,NaN,1,2,3,4,5,6,7,8,9
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15332,C0116,29,584,626186,Bidadi (CT),022015,Urdu,913,476,437,0,0,0,913,476,437
15333,C0116,29,584,626186,Bidadi (CT),037000,37 COORGI/KODAGU,8,3,5,0,0,0,8,3,5
15334,C0116,29,584,626186,Bidadi (CT),037001,Coorgi/Kodagu,8,3,5,0,0,0,8,3,5
15335,C0116,29,584,626186,Bidadi (CT),117000,117 TULU,43,27,16,0,0,0,43,27,16
15336,C0116,29,584,626186,Bidadi (CT),117009,Tulu,43,27,16,0,0,0,43,27,16

In [11]:
Dt = Dt.iloc[5:]

In [12]:
Dt

,Table,State,District,Town,Area name,Mother tongue code,Mother tongue name,Total P,Total Male,Total female,3,43,65,656,88,7687
5,C0116,29,000,000000,KARNATAKA,001000,1 ASSAMESE,6887,4784,2103,0,0,0,6887,4784,2103
6,C0116,29,000,000000,KARNATAKA,001002,Assamese,6753,4725,2028,0,0,0,6753,4725,2028
7,C0116,29,000,000000,KARNATAKA,001999,1 Others,134,59,75,0,0,0,134,59,75
8,C0116,29,000,000000,KARNATAKA,002000,2 BENGALI,66368,39763,26605,0,0,0,66368,39763,26605
9,C0116,29,000,000000,KARNATAKA,002007,Bengali,66297,39711,26586,0,0,0,66297,39711,26586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15332,C0116,29,584,626186,Bidadi (CT),022015,Urdu,913,476,437,0,0,0,913,476,437
15333,C0116,29,584,626186,Bidadi (CT),037000,37 COORGI/KODAGU,8,3,5,0,0,0,8,3,5
15334,C0116,29,584,626186,Bidadi (CT),037001,Coorgi/Kodagu,8,3,5,0,0,0,8,3,5
15335,C0116,29,584,626186,Bidadi (CT),117000,117 TULU,43,27,16,0,0,0,43,27,16
15336,C0116,29,584,626186,Bidadi (CT),117009,Tulu,43,27,16,0,0,0,43,27,16

In [13]:
Dt = Dt.drop(Dt.columns[[10,11,12,13,14,15]],axis=1)
dt = Dt.rename(columns={'Area name':'Area','Index':'Code','Total P':"Total","Total Male":"Male","Total female":"Female",'Mother tongue name':'Language'})
dt = dt.iloc[:,[4,6,7,8,9,2,3,5]]

In [14]:
dt = dt.reset_index(drop=True)

In [15]:
dt

,Area,Language,Total,Male,Female,District,Town,Mother tongue code
0,KARNATAKA,1 ASSAMESE,6887,4784,2103,000,000000,001000
1,KARNATAKA,Assamese,6753,4725,2028,000,000000,001002
2,KARNATAKA,1 Others,134,59,75,000,000000,001999
3,KARNATAKA,2 BENGALI,66368,39763,26605,000,000000,002000
4,KARNATAKA,Bengali,66297,39711,26586,000,000000,002007
...,...,...,...,...,...,...,...,...
15327,Bidadi (CT),Urdu,913,476,437,584,626186,022015
15328,Bidadi (CT),37 COORGI/KODAGU,8,3,5,584,626186,037000
15329,Bidadi (CT),Coorgi/Kodagu,8,3,5,584,626186,037001
15330,Bidadi (CT),117 TULU,43,27,16,584,626186,117000
15331,Bidadi (CT),Tulu,43,27,16,584,626186,117009

In [16]:
dt["Total"] = pd.to_numeric(dt["Total"])
dt.Language = dt.Language.astype('string')

In [17]:
dt.loc[dt.Language == ' Kashmiri'].sort_values(by='Total',ascending=False).head(10)

,Area,Language,Total,Male,Female,District,Town,Mother tongue code
64,KARNATAKA,Kashmiri,2538,1472,1066,000,000000,008005
8488,Bangalore,Kashmiri,2183,1273,910,572,000000,008005
8815,BBMP (M Corp. + OG) (Part),Kashmiri,2169,1261,908,572,803162,008005
12310,Mysore,Kashmiri,79,39,40,577,000000,008005
12575,Mysore (M Corp. + OG),Kashmiri,76,38,38,577,803194,008005
2351,Bidar,Kashmiri,36,30,6,558,000000,008005
7971,Tumkur,Kashmiri,30,13,17,571,000000,008005
4069,Uttara Kannada,Kashmiri,29,19,10,563,000000,008005
8189,Tumkur (CMC),Kashmiri,27,11,16,571,803157,008005
10542,Dakshina Kannada,Kashmiri,24,18,6,575,000000,008005

In [18]:
glang = dt.head(357)

# There are all the languages that are known to be spoken in Karnataka according to the 2011 Census data. 
# The first 357 rows of the table list the populations of the language speakers in all of Karnataka, 
# so we subset that into its own table.

In [19]:
glang

,Area,Language,Total,Male,Female,District,Town,Mother tongue code
0,KARNATAKA,1 ASSAMESE,6887,4784,2103,000,000000,001000
1,KARNATAKA,Assamese,6753,4725,2028,000,000000,001002
2,KARNATAKA,1 Others,134,59,75,000,000000,001999
3,KARNATAKA,2 BENGALI,66368,39763,26605,000,000000,002000
4,KARNATAKA,Bengali,66297,39711,26586,000,000000,002007
...,...,...,...,...,...,...,...,...
352,KARNATAKA,122 ZEMI,7,6,1,000,000000,122000
353,KARNATAKA,Zemi,7,6,1,000,000000,122003
354,KARNATAKA,123 ZOU,19,14,5,000,000000,123000
355,KARNATAKA,Zou,19,14,5,000,000000,123001
356,KARNATAKA,124 OTHERS,229955,115462,114493,000,000000,124000

In [70]:
slang = glang.loc[glang.Total > 500]

# Removing duplicate languages:

Only 76 languages have more than 500 speakers in all of Karnataka. Most of these languages however still have duplicate entries.

All the languages starting with numbers and that are capitalized are 34 out of the 76. The lowercase ones start with a whitespace and have 42 out of the 76 sowe will be keeping those as the upper case languages are a subset of the lower-case list of languages.

In [71]:

slang.head(50)

,Area,Language,Total,Male,Female,District,Town,Mother tongue code
0,KARNATAKA,1 ASSAMESE,6887,4784,2103,000,000000,001000
1,KARNATAKA,Assamese,6753,4725,2028,000,000000,001002
3,KARNATAKA,2 BENGALI,66368,39763,26605,000,000000,002000
4,KARNATAKA,Bengali,66297,39711,26586,000,000000,002007
10,KARNATAKA,4 DOGRI,718,482,236,000,000000,004000
11,KARNATAKA,Dogri,718,482,236,000,000000,004001
12,KARNATAKA,5 GUJARATI,103533,53051,50482,000,000000,005000
13,KARNATAKA,Gujarati,57286,29466,27820,000,000000,005018
16,KARNATAKA,Saurashtra/Saurashtri,4343,2247,2096,000,000000,005057
17,KARNATAKA,5 Others,41856,21311,20545,000,000000,005999
18,KARNATAKA,6 HINDI,925139,522087,403052,000,000000,006000
22,KARNATAKA,Banjari,4064,2069,1995,000,000000,006066
25,KARNATAKA,Bhojpuri,6390,4420,1970,000,000000,006102
33,KARNATAKA,Haryanvi,582,393,189,000,000000,006235
34,KARNATAKA,Hindi,672651,387775,284876,000,000000,006240
40,KARNATAKA,Lamani/Lambadi,114896,59365,55531,000,000000,006353
45,KARNATAKA,Marwari,97816,51616,46200,000,000000,006400
52,KARNATAKA,Rajasthani,21889,12175,9714,000,000000,006489
56,KARNATAKA,6 Others,5504,3436,2068,000,000000,006999
57,KARNATAKA,7 KANNADA,11610128,5896937,5713191,000,000000,007000
58,KARNATAKA,Badaga,577,291,286,000,000000,007002
59,KARNATAKA,Kannada,11603571,5893674,5709897,000,000000,007016
60,KARNATAKA,Kuruba/Kurumba,601,304,297,000,000000,007027
62,KARNATAKA,7 Others,5013,2484,2529,000,000000,007999
63,KARNATAKA,8 KASHMIRI,2555,1478,1077,000,000000,008000
64,KARNATAKA,Kashmiri,2538,1472,1066,000,000000,008005
68,KARNATAKA,9 KONKANI,430922,210457,220465,000,000000,009000
69,KARNATAKA,Konkani,423846,206971,216875,000,000000,009011
70,KARNATAKA,Kudubi/Kudumbi,600,303,297,000,000000,009013
72,KARNATAKA,Nawait,5766,2802,2964,000,000000,009020
74,KARNATAKA,9 Others,680,364,316,000,000000,009999
75,KARNATAKA,10 MAITHILI,1647,1007,640,000,000000,010000
76,KARNATAKA,Maithili,1623,989,634,000,000000,010008
80,KARNATAKA,11 MALAYALAM,434105,219516,214589,000,000000,011000
81,KARNATAKA,Malayalam,433409,219172,214237,000,000000,011016
83,KARNATAKA,Yerava,647,318,329,000,000000,011026
85,KARNATAKA,12 MANIPURI,3800,2306,1494,000,000000,012000
86,KARNATAKA,Manipuri,3770,2285,1485,000,000000,012003
88,KARNATAKA,13 MARATHI,827184,417203,409981,000,000000,013000
89,KARNATAKA,Are,4425,2059,2366,000,000000,013004
91,KARNATAKA,Marathi,822356,414937,407419,000,000000,013071
93,KARNATAKA,14 NEPALI,15334,8889,6445,000,000000,014000
94,KARNATAKA,Nepali,15323,8884,6439,000,000000,014011
96,KARNATAKA,15 ODIA,47907,32279,15628,000,000000,015000
99,KARNATAKA,Odia,47840,32246,15594,000,000000,015043
102,KARNATAKA,16 PUNJABI,24896,13175,11721,000,000000,016000
104,KARNATAKA,Punjabi,24829,13140,11689,000,000000,016038
106,KARNATAKA,17 SANSKRIT,1016,535,481,000,000000,017000
107,KARNATAKA,Sanskrit,1016,535,481,000,000000,017002
112,KARNATAKA,19 SINDHI,16868,8305,8563,000,000000,019000

In [72]:
slang.loc[slang.Language.str.startswith(('1','2','3','4','5','6','7','8','9','0'))].count()

Area                  34
Language              34
Total                 34
Male                  34
Female                34
District              34
Town                  34
Mother tongue code    34
dtype: int64

In [73]:
slang.loc[slang.Language.str.startswith((' '))].count()

Area                  42
Language              42
Total                 42
Male                  42
Female                42
District              42
Town                  42
Mother tongue code    42
dtype: int64

In [74]:
slang = slang.loc[slang.Language.str.startswith((' '))]

In [75]:
# List of languages without duplicates.

slang

,Area,Language,Total,Male,Female,District,Town,Mother tongue code
1,KARNATAKA,Assamese,6753,4725,2028,000,000000,001002
4,KARNATAKA,Bengali,66297,39711,26586,000,000000,002007
11,KARNATAKA,Dogri,718,482,236,000,000000,004001
13,KARNATAKA,Gujarati,57286,29466,27820,000,000000,005018
16,KARNATAKA,Saurashtra/Saurashtri,4343,2247,2096,000,000000,005057
22,KARNATAKA,Banjari,4064,2069,1995,000,000000,006066
25,KARNATAKA,Bhojpuri,6390,4420,1970,000,000000,006102
33,KARNATAKA,Haryanvi,582,393,189,000,000000,006235
34,KARNATAKA,Hindi,672651,387775,284876,000,000000,006240
40,KARNATAKA,Lamani/Lambadi,114896,59365,55531,000,000000,006353
45,KARNATAKA,Marwari,97816,51616,46200,000,000000,006400
52,KARNATAKA,Rajasthani,21889,12175,9714,000,000000,006489
58,KARNATAKA,Badaga,577,291,286,000,000000,007002
59,KARNATAKA,Kannada,11603571,5893674,5709897,000,000000,007016
60,KARNATAKA,Kuruba/Kurumba,601,304,297,000,000000,007027
64,KARNATAKA,Kashmiri,2538,1472,1066,000,000000,008005
69,KARNATAKA,Konkani,423846,206971,216875,000,000000,009011
70,KARNATAKA,Kudubi/Kudumbi,600,303,297,000,000000,009013
72,KARNATAKA,Nawait,5766,2802,2964,000,000000,009020
76,KARNATAKA,Maithili,1623,989,634,000,000000,010008
81,KARNATAKA,Malayalam,433409,219172,214237,000,000000,011016
83,KARNATAKA,Yerava,647,318,329,000,000000,011026
86,KARNATAKA,Manipuri,3770,2285,1485,000,000000,012003
89,KARNATAKA,Are,4425,2059,2366,000,000000,013004
91,KARNATAKA,Marathi,822356,414937,407419,000,000000,013071
94,KARNATAKA,Nepali,15323,8884,6439,000,000000,014011
99,KARNATAKA,Odia,47840,32246,15594,000,000000,015043
104,KARNATAKA,Punjabi,24829,13140,11689,000,000000,016038
107,KARNATAKA,Sanskrit,1016,535,481,000,000000,017002
114,KARNATAKA,Kachchhi,1989,967,1022,000,000000,019008
115,KARNATAKA,Sindhi,14856,7326,7530,000,000000,019014
119,KARNATAKA,Korava,4616,2316,2300,000,000000,020015
120,KARNATAKA,Tamil,1772547,894789,877758,000,000000,020027
123,KARNATAKA,Telugu,1949606,988809,960797,000,000000,021046
127,KARNATAKA,Urdu,4475953,2273577,2202376,000,000000,022015
149,KARNATAKA,Arabic/Arbi,607,444,163,000,000000,028001
176,KARNATAKA,Coorgi/Kodagu,12937,6250,6687,000,000000,037001
177,KARNATAKA,Kodava,21150,10295,10855,000,000000,037003
183,KARNATAKA,English,21536,10800,10736,000,000000,040001
192,KARNATAKA,Gondi,729,354,375,000,000000,044007
334,KARNATAKA,Tibetan,3225,2528,697,000,000000,115008
343,KARNATAKA,Tulu,605249,294735,310514,000,000000,117009